body {
	padding-top: 30px;
	padding-bottom: 100px;
	background: whites;
}
#home h1{
	font-family: sans-serif;
}

#summary span.glyphicon {
	font-size:5em;
}

.box {
	padding: 10px;
}

.box-inner {
	box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
	padding:30px 19px;
	background: white ;
}

.jumbotron {
	color: #f6f6f6 !important;
	background: url(../img/bg.jpg) center center no-repeat;
	background-size: cover;
}

#summary h2 {
	padding:5px 0 15px 0;
}
#home p.lead{
	font-size: 2em;
	font-family: sans-serif;
}
#skills h2{
	text-align: center;
	font-size: 3em;
	padding-top: 10px;
}
.box img{
	height: 100px;
	width: maximum;
}
